version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - /config:/config
    environment:
      - TZ=Asia/Tehran
    restart: unless-stopped
    network_mode: host
