homeassistant:
  name: Cloud HA
  time_zone: Asia/Tehran
  unit_system: metric
  country: IR

  auth_providers:
    - type: homeassistant
    # اگر می‌خواهی از legacy_api_password استفاده کنی، باید secrets.yaml را تنظیم کنی
    # - type: legacy_api_password
    #   api_password: !secret api_password

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 100.64.0.0/10

mobile_app:
api:

# recorder:
#   db_url: !secret recorder_db_url
#   commit_interval: 1
#   auto_purge: true
#   purge_keep_days: 7
